.main_container {
  padding-top:100px;
}

.pushdown10{
  margin-top:10px;
}
.pushdown20{
  margin-top:20px;
}
.pushdown30{
  margin-top:30px;
}


/* Make the masthead heading the same height as the navigation */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}