.main_container {
  padding-top:100px;
}

.pushdown10{
  margin-top:10px;
}
.pushdown20{
  margin-top:20px;
}
.pushdown30{
  margin-top:30px;
}


/* Make the masthead heading the same height as the navigation */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}


/* Animation tricks for the navbar */
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
}


/*Disable Animation on Mobile Devices*/
@media(max-width : 768px) {

	.headroom{

		/*CSS transitions*/

		-o-transition-property: none !important

		-moz-transition-property: none !important

		-ms-transition-property: none !important

		-webkit-transition-property: none !important

		transition-property: none !important

		/*CSS transforms*/

		-o-transform: none !important

		-moz-transform: none !important

		-ms-transform: none !important

		-webkit-transform: none !important

		transform: none !important

		/*CSS animations*/

		-webkit-animation: none !important

		-moz-animation: none !important

		-o-animation: none !important

		-ms-animation: none !important

		animation: none !important
	}
}