.main_container {
  padding-top:100px;
}

.full-opacity{
	opacity: 1.0;
}

.main-opacity{
	opacity: 0.8;
}

.half-opacity{
	opacity: 0.5;
}

.pushdown10{
  margin-top:10px;
}
.pushdown20{
  margin-top:20px;
}
.pushdown30{
  margin-top:30px;
}

@media (max-width: 576px){
  .scale-sm-down{
		font-size: 2vw;
   }
}

@media (max-width: 768px){
  .scale-sm-down{
		font-size: 3vw;
   }
}


.display-5 {
  font-size: 2rem;
  font-weight: 300;
}

.text-highlight{
	color: #fff;
}

.text-by-width{
	text-align: justify;
}

.text-tab-first{
	text-indent: 50px;
}

.block-highlight{
	padding: 0.5rem 0.5rem;
	margin-bottom: 1rem;
	background-color: #eceeef;
	border-radius: 0.3rem;
}

.social_link{
    margin-left:8px;
}

.social_link img {
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=20);
    -moz-opacity: 0.2

    -khtml-opacity: 0.2;
    opacity: 0.2;

    filter: alpha(opacity=20);
}

.social_link:hover img {
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

    filter: alpha(opacity=70);
}

/* Carousel styling */
#hero-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
}

.carousel-wrapper,
#main-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
}

#main-carousel{
  img {
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto;
  }
  & i {
    position: absolute;
    top: 50%;
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


.img-stretch
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* Make the masthead heading the same height as the navigation */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}


/* Animation tricks for the navbar */
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.footroom {
    will-change: transform;
    transition: transform 200ms linear;
}


.headroom--pinned{
    transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
}

.footroom--pinned{
    transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
}

.footroom--unpinned {
    transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-o-transform: translateY(100%);
	-moz-transform: translateY(100%);
}

/*Disable Animation on Mobile Devices*/
/*
@media(max-width : 768px) {

	.headroom{

	
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;

		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;

		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
*/